/* @import url("1-12.css"); */
.btn {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding-y) var(--padding-x);
  cursor: pointer;
  margin-right: 10px;
}

.btn.danger {
  background-color: var(--danger-color);
}