body {
    font-family: Arial, sans-serif;
    background-color: #aaaaaa;
    margin: 30px;
}
nav {
    position:sticky
}
.navigation {
    background-color: white;
    border-radius: 40px;
    height: 60px;
    padding: 20px 20px;
    box-sizing: border-box;
}
.navigation-item {
    display: inline-block;
}
.profile-card {
    background-color: #ffffff;
    border: 5px solid #031c37;
    padding: 25px;
    width: 580px;
}
#name-header {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}
.title-text {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}
.profile-card p {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
}
.contact-info a {
    color: #fff;
    background-color: #4a62f7;
    padding: 6px 12px;
    display: inline-block;
}