body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    padding: 40px;

    display: flex;
    flex-direction:row;    
    align-items:center;   
    justify-content:space-evenly;
    flex-wrap: nowrap;            
    gap: 20px;                  
}

.profile-card {
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    background: white;
}

.profile-card h2 {
    margin: 0;
    font-size: 22px;
}

.title-text {
    font-weight: bold;
    color: #555;
}

.contact-info a {
    display: inline-block;
    padding: 10px 20px;
    background: dodgerblue;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
}
