body{
    height: auto;          
    display: flex;
    flex-direction: column;  
    margin: 0;
}
main{     
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.navbar {
    width: 100%;
    background-color: #e1dfdf;
    padding: 15px 20px;
    display: flex;
    justify-content: center;

}

.nav-links {
    display: flex;
    gap: 150px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: auto; */
}

.nav-links a{
    display: flex;
    gap: 150px;
    overflow-x: auto;
}


.nav-links button {
    white-space: nowrap; 
    padding: 5px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 100px;
}
.content{
    text-align: center;
    flex: 1;
    overflow: auto;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e1dfdf;
    padding: 10px 0;
    text-align: center;
}



