body{
    height: auto;          
    display: flex;
    flex-direction: column;  
    margin: 0;
}
main{     
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.navbar{
    width: 100%;
    background-color: #e1dfdf;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    text-align: center;
    flex: 1;
    overflow: auto;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e1dfdf;
    padding: 10px 0;
    text-align: center;
}



