.container{
display: flex;
flex-direction: column;
height: 100vh;
}
.header{
background-color: lightblue;
display: flex;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 100px;
justify-content: center;
align-items: center;
font-size: 24px;
font-weight: bold;
}
.content-body{
background-color: lightgreen;
display: flex;
flex-grow: 0;
flex-wrap: nowrap;
overflow: auto;
}
.main-content{
background-color: lightcoral;
display: flex;
flex-direction: column;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 100px;
/* height: auto; */
overflow: auto;
}
.sidebar{
background-color: lightgoldenrodyellow;
/* flex-grow: 0; */
/* flex-shrink: 1; */
flex-basis: 200px;
max-width: 300px;
}