.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:    repeat(15, 1fr);
    gap: 5px;
    /* height: 800px; */
    /* width: 800px; */
    background-color: rgb(235, 233, 233);
    
}
.logo {
    /* max-width: 100%; */
    /* height: auto; */
    max-height: 70px;
    border-radius: 25px;
}

.item{
    text-align: center;
   
    font-size: 2rem;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(233, 233, 233);
    color: white;

}