body {
  text-align: center;
  font-family: Arial;
}

.box {
  height: 200px;
  width: 200px;
  background: green;
  color: white;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 768px) {
  .box {
    background: orange;
  }
}

@media (max-width: 480px) {
  .box {
    background: red;
    width: 150px;
    height: 150px;
  }
}
