body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 60vh;
  max-width: 600px;
  margin: 40px auto;

  display: grid;
  grid-template-columns: 1fr;   
  gap: 20px;

  justify-items: center;       
  align-items: center;         
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 8px;
}

@media (orientation: landscape) {
  .container {
    grid-template-columns: 1fr 1fr;   
  }

  .box {
    background-color: lightblue;
    
  }
}

@media (orientation: portrait) {
  .container {
    grid-template-columns: 1fr;
  }

  .box {
    background-color: #22c55e;
    color: #022c22;
  }
}


/* / */




/* @media (max-width: 768px) {
  .box {
    background: red;
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 480px) {
  .box {
    background: blue;
    width: 120px;
    height: 120px;
  }
} */

/* @media (min-width: 480px) {
  .box {
    background: red;
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 768px) {
  .box {
    background: orange;
    width: 220px;
    height: 200px;
  }
} */
