* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffbcbc;
    color: white;
    padding: 10px 20px;
    height: 60px; 
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    width: 48px;
    height: 45px;
    cursor: pointer;

}

.nav-links {
    list-style: none; 
    display: flex;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #192521; /
}

.buttons button {
    background-color: #2196F3; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px; 
    transition: opacity 0.3s;
    
}

.hero {
    text-align: center;
    padding: 80px 0;
}
.btn-primary  {
     background-color: #003e17; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px; 
    transition: opacity 0.3s;
}
.btn-outline {
     background-color: #f4c5c5; 
    color: #003e17;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px; 
    transition: opacity 0.3s; 
}
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* display: flex;  */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    cursor: pointer;
}
.card1 {
    /* border: 2px solid red; */
    /* background-color: lightyellow; */
    padding: 15px;
    height: 300px;
    width: 290px;
}
.card2 {
    position: relative;
    /* top: 10px; */
}


























/* @media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .nav-links, .auth-buttons {
        margin-top: 10px;
    }
    .nav-links {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .nav-links li a {
        display: block;
        padding: 10px 0;
    }

} */
