* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
}
.logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    width: 48px;
    height: 45px;
    cursor: pointer;
}
.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: rgb(255, 253, 253);
    padding: 10px 20px;
    height: 60px; 
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
}
.nav-links {
    list-style: none; 
    display: flex;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #003e17; /
}

.buttons button {
    background-color: #2196F3; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px; 
    transition: opacity 0.3s;  
}
.hero {
    text-align: center;
    padding: 80px 0;
}
.btn-primary  {
     background-color: #003e17; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px; 
    transition: opacity 0.3s;
}
.btn-outline {
     background-color: #f4c5c5; 
    color: #003e17;
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px; 
    transition: opacity 0.3s; 
}
.hero-container {
    background-color: #fcf7f7; 
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;

}
.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.15);
}
.card {
    border: 1px solid #faf8f8;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;    
}
.card1 {
    padding: 15px;
    height: 350px;
    width: 290px;
    text-align: center;
    background-color: #EE4E59;
}
.card2 {
    position: relative;
    top: 30px;
    padding: 15px;
    height: 320px;
    width: 270px;
    text-align: center;
    background-color: darkslategray;
}
.card3 {
    position: relative;
    padding: 15px;
    top: 45px;
    height: 300px;
    width: 250px;
    text-align: center;
    background-color: #EEE34E;
}
.card4 {
    position: relative;
    top: 30px;
    padding: 15px;
    height: 320px;
    width: 270px;
    background-color: #EE934E;
}
.card5 {
    position: relative;
    padding: 15px;
    height: 350px;
    width: 290px;
    background-color: darkslategrey;
}
.services {
    background-color: #0F282B;
    color: white;
    padding: 80px 0;
}
 .section-header {
    text-align: center;
    margin-bottom: 60px;
    width: 100%;
}
.section-header h2 { font-size: 2.5rem; margin-bottom: 10px; }
       
.services-grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    justify-content: space-between;
    gap: 45px;
    margin-top: 40px;
    padding: 95px;
}
.service-card {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    height: 300px;
    width: 100%;
}
.service-card:hover {
    background: rgba(255,255,255,0.1);
    transform: translateY(-8px);
}
