body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(173, 236, 255);
}
.switch {
    position: relative;
    width: 60px;
    height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
    position: absolute;
    background-color: gray;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}
.slider::before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translateX(4px);
    /* transform: translateY(4px); */
    top: 9%;
    transition: 0.3s;
}
.switch input:checked + .slider {
  background-color: #4ade80;
  content: ON;
}

.switch input:checked + .slider::before {
  transform: translateX(30px);
  content: OFF;
}


