:root {
    --bg-color: lightgray;
    --text-color: #000000;

    --card-bg: #ffffff;
    --primary-color:#2563eb;
    --secondary-color:#16a34a;

    --card-padding:20px;
    --card-radius:10px;

    --box-size:100px;
}
 body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
 }
 h1,h2 {
    color: var(--primary-color);
 }
 .card {
    background-color: var(--card-bg);
    width: 300px;
    margin: 40px auto;
    padding: var(--card-padding);
    border-radius: var(--card-radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 }
 .btn {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
 }
 .parent {
    --box-color: rgb(173, 236, 255);
    background: var(--box-color);
 }
 .child {
    --box-color:orange;
    background-color: var(--box-color);
 }
 .box {
     width: var(--box-size);
  height: var(--box-size);
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
 }
    .card {
        border: 4px solid var(--border-color, black);
    }